<hr>

<div>
    <div>
        <form class="" action="" method="POST">
            {% csrf_token %}
            <button type="submit"> + follow</button>
        </form>
    </div>
    <div>
        Uploaded by <a href="{% url 'members:profile' post.author.username %}">{{ post.author.username }}</a>
        <span>
        {% if post.author.img_profile %}
        <img style="width: 40px;" class="rounded-circle float-left" src="{{ post.author.img_profile.url }}" alt="">
        {% else %}
        {% load static %}
        <img style="width: 40px;" class="rounded-circle float-left" src="{% static 'images/blank_user.png' %}" alt="">
        {% endif %}
    </span>
    </div>
    <div>
        내용 : {{ post.content|linebreaks }}
    </div>
    <div>
        <form action="{% url 'posts:post-delete' post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="float-center"> < {{ post.id }} > 삭제</button>
            {% if post.author != user.username and post.id == post_id %}
            {{ error }}
            {% endif %}
        </form>
    </div>
</div>
<div>
    <img width="75%" src="{{ post.photo.url }}" alt="">
</div>
<div>
    <div>
        {% for comment in comments %}
        <div>
            {% if post.id == comment.post_id %}
            <div>
                 --- {{ comment.content }}
                <span>
                {% if comment.author.img_profile %}
                <img style="width: 40px;" class="rounded-circle" src="{{ comment.author.img_profile.url }}"
                     alt="">
                {% else %}
                {% load static %}
                <img style="width: 40px;" class="rounded-circle" src="{% static 'images/blank_user.png' %}"
                     alt="">
                {% endif %}
            </span>
                <a href="{% url 'members:profile' comment.author %}">{{ comment.author }}</a>
                {{ comment.created_at|time:"H:i" }} {{ comment.created_at|date:"D d m y" }}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div>
        <form action="{% url 'posts:post-comment' post.id %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}
            {% endfor %}

            <button type="submit">댓글달기</button>
        </form>
    </div>
</div>

<div>
    {% for comment in post.comments.all %}
    content: {{ comment.content }}/ author: {{ comment.author }}
    {% endfor %}
</div>
<div>
    <form action="{% url 'posts:comment-create' post.pk %}"></form>
</div>