<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moviesgram</title>
</head>
<body>
<h1><a href="{% url 'posts:post-list' %}">Instagram</a></h1>
<!--{{ user.is_authenticated }}-->
<div>
    {% if user.is_authenticated %}
    <div>Signed in as User: {{ user.username }}</div>
    <form action="{% url 'members:logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Sign out</button>
    </form>
    {% else %}
    <div>
        <a href="{% url 'members:login' %}">Sign in</a>
    </div>
    <div>
        <a href="{% url 'members:signup' %}">Sign up</a>
    </div>
    {% endif %}
</div>
{% block content %}
{% endblock %}
</body>
</html>